<div class="jumbotron">
    <h1 class="display-4">Scraped Up News</h1>
    <p class="lead">This is Google News. Because you used Google to find the news and they have their own.</p>
    <hr class="my-4">
    <p>To get started, click the "Scrape Articles" button. From there you can save and comment as
        you please!</p>
</div>
</div>
<div class="container">
    <div class="row">
        {{#each article}}
        <div class="card">
            <div class="card-header">
            <a href={{this.link}} target="_blank" class="card-link">
                <h4 class="card-title">{{this.title}}</h4>
            </a>
        </div>
            <div class="card-body">
                <p class="card-text">Article Summary: {{this.summary}}</p>
                <br>
                <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
            </div>
        </div>
        {{/each}}
        {{#unless articles}}
        <h3>What are you waiting for? Push the button!</h3>
        {{/unless}}
    </div>
</div>